/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/

/** pre-existing CSS **/
body {
	max-width: 1440px; /* Changed from 1140 to 1440px */
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.main-header { /* Changed header to .main-header to add edit mode header later*/
	display: flex;
	justify-content: space-between;
	margin: 50px 150px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Main */

* {
	box-sizing: border-box;
}

body {
	background: #FFFEF8;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

nav ul {
	gap: 44px;
}

a {
	text-decoration: none;
	color: inherit
}

main {
	padding : 0px 245px;
}

#introduction img {
	display: block;
	margin: auto;
	width: 100%;
}

#introduction {
	gap: 72px;
	margin-bottom: 125px;
}

footer {
	width: 100vw;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	background: #ffffff;
}

footer nav {
	margin-right: 100px;
}

/* Filter buttons */

#portfolio {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 0px;
}

.filters-buttons-container {
	display: flex;
    justify-content: center;
    gap: 10px;
}

.not-focus-button {
	padding: 0px 20px;
	display:flex;
	align-items: center;
	height: 37px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	color: #1D6154;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

.focus-button {
	padding: 0px 20px;
	display:flex;
	align-items: center;
	height: 37px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background: #1D6154;
	color: #FFF;
	text-align: center;
	font-family: Syne;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

/* Login page */

#login {
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 150px;
}


#login form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.forgot-password {
	text-decoration-line: underline;
}

.submit-login {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

/* Edit mode */ 

.edit-header {
	height: 59px;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 16px;
}

.modal-button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	cursor: pointer;
	position: relative;
	top: 23px;
    left: calc(55% + 80px);
	width:max-content;
}

#portfolio {
	margin-top: 0px;
}

/* Modal */

.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
	overflow: auto;
	width: 630px;
	max-width: calc(100vw - 20px);
	height: 640px;
	max-height: calc(100vh - 20px);
	padding: 35px 30px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
}

#modal-gallery .modal-wrapper {
	justify-content: space-between;
}

.button-close-modal-gallery, .button-close-modal-picture {
	align-self: flex-end;
	cursor: pointer;
}

.title-modal {
	margin-top: 10px;
	margin-bottom: 26px;
	color: #000;
	text-align: center;
	font-family: Work Sans;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.modal-gallery-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0 80px;
	gap: 6px;
}

.image-sub-container {
	width: 77px;
	height: 104px;
	margin-top: 20px;
}

.image-sub-container > img {
	width: 77px;
	height: 104px;
}

.line {
	min-height: 1px;
	height: 1px;
	width: calc(100% - 140px);
	background-color: #B3B3B3;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-self: flex-end
}

.add-picture-button {
	min-height: 36px;
	height: 36px;
	width: 237px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    text-align: center;
    border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.remove-image-button {
	background-color: #000000;
	height: 17px;
	width: 17px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	cursor: pointer;
	position: relative;
	bottom: 100px;
	left: 55px;
}

.fa-trash-can {
	padding-top: 1px;
	color: #ffffff;
}

.picture-submitting-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 6px;
	align-items: center;
	width: 420px;
	height: 169px;
	border-radius: 3px;
	background: #E8F1F6;
	margin-bottom: 30px;
}

.download-picture-button {
	border-width: 0px;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	
}

.max-download-info {
	color: #444;
	text-align: center;
	font-family: Work Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.download-picture-button-label {
	color: #306685;
	text-align: center;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;
	border-width: 0px;
	width: 173px;
	height: 36px;
	border-radius: 50px;
	background: #CBD6DC;
	display:flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

#modal-add-picture form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#modal-add-picture #title, #modal-add-picture #category {
	width: 420px;
	height: 51px;
	background: #FFFfff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	border-width: 0px;
	outline: none;
	margin-bottom: 20px;
}

.modal-form-label {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	align-self: flex-start;
	margin-bottom: 10px;
}

.line2 {
	min-height: 1px;
	height: 1px;
	width: 420px;
	background-color: #B3B3B3;
	margin-top: 20px;
	margin-bottom: 20px;
	justify-self: flex-end
}

.button-back-gallery-modal {
	color:#000000;
	align-self: flex-start;
	cursor: pointer;
}

form #category, form #title {
	color: #444;
	font-family: Work Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 16px;
	padding-right: 29px;
}

#modal-add-picture form {
	width: 420px;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
}

.select-container > img {
    width: 12px;
    height: 12px;
    position: relative;
    left: 388px;
	top: -50px;
	pointer-events: none; 
}

.submit-picture-button {
	min-height: 36px;
	height: 36px;
	width: 237px;
	font-size: 14px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    text-align: center;
    border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

form:invalid > .submit-picture-button {
	background: #A7A7A7;
	pointer-events: none;
  }

  .preview-picture {
	max-height: 169px;
	max-width: 420px;
  }